body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:	#A9B2C3;
}

.container {
    width: 45%;
    height: 45vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px #cbcecb,
        -12px -12px 20px #cbcecb;
}

.display #screen {
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: whitesmoke;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbcecb,
        inset -8px -8px 8px #ffff;
}

.btns {
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns .row button {
    width: 90px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px black,
        -5px -5px 8px #ffff;
}
.btns .row button:hover{
    box-shadow: inset 5px 5px 8px rgb(202, 198, 198),
                inset -5px -5px 8px rgb(105, 102, 102);
                background: fixed white;
}
#CE{
    background-color: #3AA8C1;
    
}
#CE:hover{
    box-shadow: inset 5px 5px 8px  #469496,
                inset -5px -5px 8px  #469496;
}
#AC{
    background-color: #FF9933;
}
#AC:hover{
    box-shadow: inset 5px 5px 8px  rgba(207, 170, 58, 0.856),
                inset -5px -5px 8px  rgba(199, 175, 56, 0.767);
}
#equals{
    background-color: #BD8260;
}
#equals:hover{
    box-shadow: inset 5px 5px 8px  #9B7653,
                inset -5px -5px 8px  #9B7653;
}
